<h1>Описание звонка</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    
  </tr>

<% @descriptioncall.each do |f| %>
  <tr>
    <td><%= f.name %></td>
    <td><%= f.fin %></td>
    <td><%= link_to 'Edit', edit_descriptioncall_path(f) %></td>
    
  </tr>
<% end %>
</table>

<br />